
<div class="corpo">
    <div class="logo" style="float:left;">
        <img src="~/Imgs/logo_GeraUnity.png" />
    </div>


    <p>

        Bem Vindo
    </p>
    <div style="float:left; width:100%; margin-top:10px;">
        <p>Software desenvolvido por Alunos do 4º Periodo da Faculdade Pitágoras.<p>
        <p><b>Alunos:</b></p>
        <p><b>Victor de Morais</b></p>
        <p><b>Caio Farias</b></p>
        <p><b>Ana Carolina</b></p>
        <p><b>Welerson Paes</b></p>
        <p>O Software Tem como objetivo, fazer gerenciamento de senhas em universidades e faculdades no atendimento ao aluno(SAA).
        <p>
            Pode Ajudar na gestão e otimização de atendimento, gerar dados estatísticos e estratégicos para tomadas de decisões, o sistema visa em possíveis melhorias
            de atendimento ao aluno.
        </p>

        </p>
    </div>
</div>


